@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 130px;
  height: auto;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 16px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.nav-links a.active {
  color: #000;
  font-weight: bold;
}

.nav-links .cart {
  font-weight: normal;
  color: #000;
}

/* Hero Section */

.hero-section {
  margin-top: 128px;
  margin-bottom: 120px;

}
.hero-title{
  margin-top: 100px;
}
 .hero-title h1 {
  font-family: noto-serif, serif;
}

.hero-title p {
  font-family: inter, sans-serif;
}


/* Plant Section */

.plant-title h1 {
  font-family: noto-serif, serif;

}
.plant-title p{
  font-family: inter, sans-serif;
  margin: 16px 128px 20px;
  
}
.plant-info {
    font-family: inter, sans-serif;
  }



@media screen and (max-width: 430px) {

  /* Navigation */

  .active, .query {
    display: none;
  }
  .logo img {
    width: 63px;
    height: auto;
  }
  .cart {
    font-size: 16px;
    font-weight: bold;
  }
    
  /* Hero Section */

  .hero-section {
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
    padding: 0;
  }

  .hero-title {
    max-width: 100%;
    padding: 16px;
    margin-top: 28px;
  }

  .hero-title p {
    margin-top: 13px;
  }

  /* Plant Section */
  .plant-title {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }
  .plant-title p {
    margin: 16px 0;
  }
  
  .plant-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  
}