@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 130px;
  height: auto;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 16px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.nav-links a.active {
  color: #000;
  font-weight: bold;
}

.nav-links .cart {
  font-weight: normal;
  color: #000;
}

/* Hero Section */

.hero-section {
  margin-top: 128px;
  margin-bottom: 120px;

}
.hero-title{
  margin-top: 100px;
}
 .hero-title h1 {
  font-family: noto-serif, serif;
}

.hero-title p {
  font-family: inter, sans-serif;
}


/* Plant Section */

.plant-title h1 {
  font-family: noto-serif, serif;

}
.plant-title p{
  font-family: inter, sans-serif;
  margin: 16px 128px 20px;
  
}
.plant-info {
    font-family: inter, sans-serif;
  }

            /* Flower Lover Content */

.flower-lover-content{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 20px ;
  margin-top: 200px;
}
.left{
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  margin-right: 32px;
  position: relative;
}
.left img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.trusted-badge{
  position: absolute;
  top: -130px;
  right: -110px;
  width: 266px;
  z-index: 1;
  
}
.right{
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding: 20px 40px;
}
.right h1 {
  font-family: noto-serif, serif;
  margin-bottom: 20px;
}
.right ul {
  list-style: circle;
  padding: 0;
}
.right ul li {
  margin-bottom: 10px;
  font-family: inter, sans-serif;
}
      /* Latest Deals */

.deals{
  margin-top: 100px;
}
.deals h2 {
  font-family: noto-serif, serif;
}
.deals p {
  font-family: inter, sans-serif;
  margin-top: 10px;
  color: #6B7280;
}

/* Latest Deals */

.deal-contain-card {
      display: flex;
      gap: 20px;
      max-width: 1100px;
      margin: 50px auto;
      padding: 0 20px;
      flex-wrap: wrap;
    }

    .left-deals {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;
      min-width: 280px;
    }

    .right-deal {
      flex: 2;
      min-width: 300px;
    }

    .card {
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      height: 180px;
      background-size: cover;
      background-position: center;
    }

    .card.large {
      height: 380px;
    }

    .overlay {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
      padding: 20px;
    }

    .overlay h3 {
      font-family: noto-serif, serif;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    .overlay h2 {
      font-family: noto-serif, serif;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }

    .overlay a {
      font-family: inter, sans-serif;
      margin-top: 10px;
      font-size: 16px;
      color: white;
      text-decoration: underline;
      font-weight: 500;
    }



@media screen and (max-width: 430px) {

  /* Navigation */

  .active, .query {
    display: none;
  }
  .logo img {
    width: 63px;
    height: auto;
  }
  .cart {
    font-size: 16px;
    font-weight: bold;
  }
    
  /* Hero Section */

  .hero-section {
    flex-direction: column-reverse;
    align-items: start;
    width: 100%;
    padding: 0;
  }

  .hero-title {
    max-width: 100%;
    padding: 16px;
    margin-top: 28px;
  }

  .hero-title p {
    margin-top: 13px;
  }

  /* Plant Section */
  .plant-title {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }
  .plant-title p {
    margin: 16px 0;
  }
  
  .plant-cards {
    grid-template-columns: repeat(2, 1fr);
  }

      /* Flower Lover Content */
  .flower-lover-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
}

  .left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .trusted-badge {
    display: none;
  }

  .right {
    padding: 20px;
    text-align: start;
  }

                   /* Latest Deals */
  .mobile-break {
    display: none;
  } 
  .card.large {
    height: 230px;
  }              
  
}